<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @order_item.order_id %>
</p>

<p>
  <strong>Produit:</strong>
  <%= @order_item.produit_id %>
</p>

<p>
  <strong>Quantite:</strong>
  <%= @order_item.quantite %>
</p>

<p>
  <strong>Prix:</strong>
  <%= @order_item.prix %>
</p>

<%= link_to 'Edit', edit_order_item_path(@order_item) %> |
<%= link_to 'Back', order_items_path %>
